<div class="dashboard-home-grid">
    <div class="dashboard-home-upper-grid">
        <div class="dashboard-home-main fade-in-animation">
            <div class="upcomingAppointments">
                <h2>Traffic</h2>
            </div>
        </div>
    </div>
    <div class="dashboard-home-lower-grid">
        <div class="dashboard-one ">
        </div>
        <div class="dashboard-home-stats fade-in-animation">
            <label>Appointments</label><br>
            <span><i class="fa fa-file-text"></i></span>
            <div class="timeline-stats">
                <div class="thisMonth">
                    <label>This Month</label><br>
                    <span class="month-totlal">999k</span>
                </div>
                <div class="thisWeek">
                    <label>This Week</label><br>
                    <span class="week-total">999k</span>
                </div>
                <div class="thisDay">
                    <label>Today</label><br>
                    <span class="day-total">999k</span>
                </div>
            </div>
        </div>
        <div class="dashboard-home-stats fade-in-animation">
            <label>Services</label><br>
            <span><i class="fa fa-sign-language"></i></span>
            <div class="timeline-stats">
                <div class="thisMonth">
                    <label>This Month</label><br>
                    <span class="month-total">999k</span>
                </div>
                <div class="thisMonth">
                    <label>This Week</label><br>
                    <span class="week-total">999k</span>
                </div>
                <div class="thisDay">
                    <label>Today</label><br>
                    <span class="day-total">999k</span>
                </div>
           </div>
        </div>
    </div>
</div>
