<div class="sidebar-dash-store-home-wrapper">
    <div class="location-panel">
        <div class="dark-image-wrapper">
            <span class="location-name"></span>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-title">
            <i class="fa fa-archive"></i><br>
            <span class="stats-card-title"></span>
        </div>
        <div class="stats-content">
            <div class="stats-content-header">
                <h5>Orders Filled</h5>
            </div>
            <div class="stats-content-body">
                <div class="stats-content-title">
                    <span class="today">Today</span>
                    <span class="week">This Week</span>
                    <span class="month">This Month</span>
                </div>
                <div class="stats-content-value">
                    <span class="today">10</span>
                    <span class="week">27</span>
                    <span class="month">89</span>
                </div>
            </div>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-title">
            <i class="fa fa-calendar"></i>
            <span class="stats-card-title"></span>
        </div>
        <div class="stats-content">
            <div class="stats-content-header">
                <h5>Appointments Set</h5>
            </div>
            <div class="stats-content-body">
                <div class="stats-content-title">
                    <span class="today">Today</span>
                    <span class="week">This Week</span>
                    <span class="month">This Month</span>
                </div>
                <div class="stats-content-value">
                    <span class="today">10</span>
                    <span class="week">30</span>
                    <span class="month">382</span>
                </div>
            </div>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-title">
            <i class="fa fa-shopping-basket"></i>
            <span class="stats-card-title"></span>
        </div>
        <div class="stats-content">
            <div class="stats-content-header">
                <h5>Products Sold</h5>
            </div>
            <div class="stats-content-body">
                <div class="stats-content-title">
                    <span class="today">Today</span>
                    <span class="week">This Week</span>
                    <span class="month">This Month</span>
                </div>
                <div class="stats-content-value">
                    <span class="today">10</span>
                    <span class="week">30</span>
                    <span class="month">382</span>
                </div>
            </div>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-title">
            <i class="fa fa-sign-language"></i>
            <span class="stats-card-title"></span>
        </div>
        <div class="stats-content">
            <div class="stats-content-header">
                <h5>Services Sold</h5>
            </div>
            <div class="stats-content-body">
                <div class="stats-content-title">
                    <span class="today">Today</span>
                    <span class="week">This Week</span>
                    <span class="month">This Month</span>
                </div>
                <div class="stats-content-value">
                    <span class="today">10</span>
                    <span class="week">30</span>
                    <span class="month">382</span>
                </div>
            </div>
        </div>
    </div>
</div>
