<div class="fixed-sidebar-wrapper">
    <div class="newsfeed-menu">
        <div class="menu-searchbar">
            <input type="text" placeholder="Search">
            <button class="search-button">                
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="newsfeed-menu-options button-group">
            <button class="newsfeed-menu-network secondary">
                <label>Following</label><br>
            </button>
            <button class="newsfeed-menu-trending secondary">
                <label>Followers</label><br>
            </button>
            <button class="newsfeed-menu-suggested secondary">
                <label>Suggested</label><br>
            </button>
            <button class="newsfeed-menu-filters secondary">
                <i class="fa fa-filter"></i>
            </button>
        </div>
        <div class="newsfeed-sidebar-content">
        </div>
    </div>
</div>
