<div class="fixed-sidebar-wrapper">
    <div class="calendar-header">
        <h2 class="month">
            <span (click)="prevMonth($event)">
                <i class="fa fa-chevron-left"></i>
            </span>
            {{ selectedMonth}}
            <span (click)="nextMonth($event)">
                <i class="fa fa-chevron-right"></i>
            </span> 
        </h2> 
        <h5 class="year">{{ selectedYear }}</h5>
    </div>
    <div class="specific-date">
        {{ selectedDay | date:fullDate }}
    </div>
    <div class="event-list">
        <div class="event-item animation-slide1">
            <div class="event-name">
                Event 1
            </div>
            <span>10:30 - 11:30 AM </span>
        </div>
        <div class="event-item animation-slide2">
            <div class="event-name">
                Event 2
            </div>
            <span>1:30 - 3:00 PM </span>
        </div>
        <div class="event-item animation-slide3">
            <div class="event-name">
                Event 3
            </div>
            <span>3:30 - 5:00 PM </span>
        </div>
        <div class="event-item animation-slide4">
            <div class="event-name">
                Event 4
            </div>
            <span>7:00 - 9:00 PM </span>
        </div>
        <button class="create-event-button primary">
            <i class="fa fa-plus"> Create Event</i>
        </button>
    </div>
    <div class="event-footer">
            </div>
</div>
