$other-color: #e55812;
$primary-color: #6bc435;
$secondary-color: #048ba8;
$strong-color: #002626;

.grid-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: .7fr 11.25fr;
    width: 100%;
    height: 100%;
    grid-gap: 1vw;
}
.shadow-overlay{
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 10vh;
    z-index: 2;
    left: 0;
    top: 0;
}
.navbar{
    background-color: #002626;
    color: white;
    font-size: 1vw;
    height: 100%;
    width: 5.5%;
    box-shadow: .05vw 0vw .5vw .3vw rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        li{
            display: inline-block;
            font-size: .7vw;
            padding: 1vw;
        }
        a{
            color: white;
            text-decoration: none;
            display: block;
            .fa{
                font-size: 1.75vw;
            }
        }
       
        
    }
    li:hover > a{
        color: #002626;
    }
    
    li:hover{
        color: #002626;
        background-color: white;
        -webkit-transition: .25s; /* Safari */
        transition: .25s;
    }
    .bottom{
        margin-top: auto;
    }
}
