<div class="fixed-wrapper">
    <div class="dashboard-store-grid">
        <div class="store-inner-grid-top ">
            <div class="store-panel store-orders fade-in-animation">
                <div class="panel-header">
                    <h2>Orders</h2>
                    <button class="primary create-order-button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="list">
                        <div class="list-object"></div>
                        <div class="list-object"></div>
                        <div class="list-object"></div>
                        <div class="list-object"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="view-more-button nude-secondary">
                        View More
                    </button>
                </div>
            </div>
            <div class="store-panel store-appoinments fade-in-animation">
                <div class="panel-header">
                    <h2>Appointments</h2>
                    <button class="create-appointment-button primary">
                        <i class="fa fa-plus">
                        </i>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="list">
                        <div class="list-object">
                        </div>
                        <div class="list-object"></div>
                        <div class="list-object"></div>
                        <div class="list-object"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="view-more-button nude-secondary">
                        View More
                    </button>
                </div>
            </div>
        </div>
        <div class="store-inner-grid-bottom ">
            <div class="store-panel store-products fade-in-animation">
                <div class="panel-header">
                    <h4>Products</h4>
                    <button class="create-product-button primary">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="product-image">
                        <div class="dark-image-wrapper">
                            <span class="product-name"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="view-more-button nude-secondary">
                        View More
                    </button>
                </div>
            </div>
            <div class="store-panel store-services fade-in-animation">
                <div class="panel-header">
                    <h4>Services</h4>
                    <button class="create-service-button primary">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="service-image">
                        <div class="dark-image-wrapper">
                            <span class="service-name"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="view-more-button nude-secondary">
                       View More
                    </button>
                </div>
            </div>
            <div class="store-panel store-locations fade-in-animation">
                <div class="panel-header">
                    <h4>Locations</h4>
                    <button class="create-service-button primary">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="location-card-group">
                        <div class="location-card">
                            <div class="location-card-image">
                                <div class="dark-image-wrapper">
                                    <span class="location-name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="location-card">
                            <div class="location-card-image">
                                <div class="dark-image-wrapper">
                                    <span class="location-name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="view-more-button nude-secondary">
                        View More    
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
