<div class="dashboard-network-grid">
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile1.jpg">
            <div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
            <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>
        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile2.jpg">
            <div class="profile-card-identity">
                <h3>Zhora Hovespyan</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>99.9k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>

            <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>
        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile3.jpg">
            <div class="profile-card-identity">
                <h3>Nicholas Frank</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>99.9k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>

           <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>
        </div>

    </div>

    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile4.jpg">
<div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
           <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>

        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile5.jpg">
             <div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>99.9k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
            <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>
   
        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile6.jpg">
            <div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
            <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>

        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile7.jpg">
<div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
            <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>
        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile8.jpg">
<div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
            <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>
        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <img class="profile-card-avi" src="assets/profile-images/profile9.jpg">
<div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
           <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>

        </div>
    </div>
    <div class="profile-card ">
        <div class="profile-card-content">
            <div class="profile-card-identity">
                <h3>Anthony Yabuki</h3>
                <label>@yab01yabuk1</label>
            </div>
            <div class="profile-stats">
                <div class="posts-stat">
                    <label>Posts</label><br>
                    <span> 99.9k </span>
                </div>
                <div class="followers-stat">
                    <label>Following</label><br>
                    <span>11.3k</span>
                </div>
                <div class="following-stat">
                    <label>Followers</label><br>
                    <span> 99.9k </span>
                </div>
            </div>
           <div class="button-group profile-card-engage ">
                <button class="empty-button follow-button secondary">
                    <i class="fa fa-user-plus"> Follow</i>
                </button>
                <button class="empty-button message-button ">
                    <i class="fa fa-envelope"> Message</i>
                </button>
                
            </div>

        </div>
    </div>
</div>
