<div class="store-menu">
    <div class="button-group store-menu-options">
        <button class="home-button secondary">
            <label>Stats</label><br>
            <i class="fa fa-line-chart"></i>
        </button>
        <button class="orders-button secondary">
            <label>Orders</label><br>
            <i class="fa fa-archive"></i>
        </button>
        <button class="inventory-button secondary">
            <label>Inventory</label><br>
            <i class="fa fa-shopping-cart"></i>
        </button>
        <button class="locations-button secondary">
            <label>Locations</label><br>
            <i class="fa fa-map-marker"></i>
        </button>        
    </div>
    <div class="store-menu-content">
        <router-outlet></router-outlet>
    </div>
</div>
