<div class="background-div">
    <div class="social-post-modal">
        <div class="post-header">
            <div class="post-creator-avi">
                <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/c0.13.160.160/p160x160/37578945_2115913902021864_8861913142616129536_n.jpg?_nc_cat=0&oh=4b53fa9fc77e36939d35a756379c4fea&oe=5C0BF7CB" class="avi">
            </div>
            <div class="post-details">
                <span class="creator-name">Some User</span>
                <div class="post-timestamp">11 min ago * Following</div>
            </div>
            <div class="post-options">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
        <div class="post-body">
            <div class="post-media ">
                <img src="assets/post-images/post2.jpg" class="post-image">
            </div>
            <div class="post-content">
                <p class="content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat nisl, hendrerit sit amet hendrerit eu, tristique in urna. Cras non sagittis sem, in tincidunt tellus. Pellentesque nec porttitor augue.
                </p>
            </div>
        </div>
        <div class="post-footer">
            <div class="post-actions">
                <div class="post-like">
                    <i class="fa fa-heart-o" aria-hidden="true"> 257</i>
                </div>
                <div class="post-comment">
                    <i class="fa fa-comment" aria-hidden="true"> 119</i>
                </div>
                <div class="post-share">
                    <i class="fa fa-share" aria-hidden="true"> 35</i>
                </div>
                <div class="post-bookmark">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </div>
                
            </div>
        </div> 
        <div class="comment-list">
            <div class="comment-post">
                Hello
            </div>
            <div class="comment-form">
                <textarea class="comment-input"></textarea>
                <div class="comment-options button-row">
                    <button class="attach-image">
                        <i class="fa fa-camera"></i>
                    </button>
                    <button class="attach-video">
                        <i class="fa fa-film"></i>
                    </button>
                    <button class="attach-file">
                        <i class="fa fa-paperclip"></i>
                    </button>
                    <button class="submit-comment secondary">
                        <i class="fa fa-paper-plane"> Post</i>
                    </button>
                </div>
            </div>
        </div>      
    </div>
</div>
