<div class="newsfeed-trending">
    <h4>Trending <i class="fa fa-fire"></i></h4>
    <ul class="trending-list">
            <li class="trending-item">
                <label class="trending-term">
                    #StartUpChallenge
                </label>
                <p class="trending-item-description">
                    People are coming up with ideas for the next
                    big thing, will you join them?
                </p>
                <span class="trending-impact">
                    73.1k people are posting about this
                </span>
            </li>
            <li class="trending-item">
                <label class="trending-term">
                    #MilkBags
                </label>
                <p class="trending-item-description">
                    Milk comes from cows and sometimes from goats
                    but what is it about putting in a bag that 
                    seems so fun?
                </p>
                <span class="trending-impact">
                    101.8k people are posting about this
                </span>
            </li>
            <li class="trending-item">
                <label class="trending-term">
                    Ethereum Crash of 2018 
                </label>
                <p class="trending-item-description">
                    Weak hands are getting shaken out by the 
                    whales.  Lamboland has been postponed while
                    we refeul for the moon mission.
                </p>
                <span class="trending-impact">
                    101.8k people are posting about this
                </span>
            </li>
            <li class="trending-item">
                <label class="trending-term">
                    Ethereum Crash of 2018 
                </label>
                <p class="trending-item-description">
                    Weak hands are getting shaken out by the 
                    whales.  Lamboland has been postponed while
                    we refeul for the moon mission.
                </p>
                <span class="trending-impact">
                    101.8k people are posting about this
                </span>
            </li>
    </ul>
</div>
